body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 18% 82%;
  height: 100vh;
}

.sidenav {
  background-color: #212529;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
}
